.DS_Store
*.swp
Gemfile.lock
data/quotes
.ruby-version
.ruby-gemset
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
